<section class="info-section text-center">
    <div class="container-fluid">
        <div class="info-container">
            <h2 class="info-title" translate>
                InfoHeader.Part1
                <span class="d-block d-md-inline" translate>InfoHeader.Part2</span>
            </h2>
            <p class="info-description" translate>InfoDescription</p>
            <div class="buttons-group">
                <a class="btn btn-info" href="https://go.docusign.com/o/sandbox/" target="_blank" translate> SandBoxButton </a>
                <a class="btn btn-outline-info" href="https://developers.docusign.com/" target="_blank" translate> LearnMoreButton </a>
            </div>
        </div>
        <div class="links-container">
            <div class="info-links">
                <div class="cta-row">
                    <div class="img-holder">
                        <img src="assets/img/download.png" alt="download icon" />
                    </div>
                    <a
                        href="https://marketplace.visualstudio.com/items?itemName=DocuSign.DocuSignVSExtension"
                        target="blank"
                        class="link-title"
                        translate
                        >VSExtentionLink</a
                    >
                </div>
                <div class="cta-row">
                    <div class="img-holder">
                        <img src="assets/img/download.png" alt="download icon" />
                    </div>
                    <a
                        href="https://marketplace.visualstudio.com/items?itemName=DocuSign.docusign-vscode-extension"
                        target="blank"
                        class="link-title"
                        translate
                        >VSCodeExtentionLink</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>
