.content {
    background: $black;
}

.hero-section {
    &.hero-home {
        height: 630px;
        padding-top: 130px;
        background: $black;
        @include media-breakpoint-down(lg) {
            height: 940px;
        }

        &.small-container {
            height: 450px;
        }

        .container-fluid {
            position: relative;
        }

        .row {
            @include media-breakpoint-down(lg) {
                flex-direction: column;
            }
        }

        .buttons-group {
            padding-top: 35px;
            margin-bottom: 50px;
            @include media-breakpoint-up(md) {
                padding-top: 50px;
            }
            @include media-breakpoint-up(lg) {
                padding-top: 80px;
                margin-bottom: 100px;
            }
        }

        .cta-title {
            color: $white;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, $white 64.85%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-transform: uppercase;
            float: right;
            text-align: right;
            margin-left: 30px;
        }
    }

    h1 {
        margin-bottom: 20px;
        text-align: center;
        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    h4 {
        text-align: center;
        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    .main-image {
        height: 100%;
        max-width: 660px;
        max-height: 580px;
        float: right;
        @include media-breakpoint-up(md) {
        }

        .home-first-image {
            margin: 30px 30px 0 0;
            max-width: 27vw;
        }

        .home-second-image {
            max-width: 30vw;
        }

        .home-third-image {
            object-fit: contain;
            max-width: 40vw;
            margin: 30px 30px 0 0;
        }
    }
}

.user-info-container {
    position: relative;
    border-radius: 16px;
    border: 1px solid $gray-500;
    height: 180px;
    padding: 20px;
    color: $white;

    @include media-breakpoint-down(lg) {
        height: 160px;
        padding: 10px;
    }

    @include media-breakpoint-down(md) {
        height: 200px;
    }

    .info-icon {
        position: absolute;
        right: 0;
        bottom: 0;

        &:hover,
        &:focus,
        &:active {
            filter: brightness(0) invert(1);
        }
    }

    .type-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .info-container {
        margin: 20px;
        align-items: center;

        > img {
            width: 64px;
            height: 64px;
        }

        @include media-breakpoint-down(lg) {
            margin: 40px 10px;
        }

        @include media-breakpoint-down(md) {
            margin: 10px;
            flex-direction: column;
            align-items: stretch;
        }
    }

    .setup-btn {
        margin-left: auto;
        @include media-breakpoint-down(lg) {
            margin-left: 0;
        }
        @include media-breakpoint-down(md) {
            margin-top: 10px;
        }
    }
}

.hero-info-container {
    .hero-info {
        color: $white;
        background-clip: text;
        background: linear-gradient(to right, $gray 0%, $white 61%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        .main-title {
            font-size: 64px;
            font-weight: 500;
            line-height: 96%;
            letter-spacing: 0.96px;

            @include media-breakpoint-down(xl) {
                font-size: 4.2vw;
            }
        }

        .main-description {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: 0;

            @include media-breakpoint-down(lg) {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }

    .step-description {
        width: 75%;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 48px;
        color: $gray-400;
    }
}
