<div class="footer-links-container">
    <div class="footer-links">
        <div class="footer-link col-md-3">
            <a
                href="https://developers.docusign.com/docs/esign-rest-api/esign101/concepts/templates/composite/"
                target="blank"
                class="link-title"
                translate
                >Links.CompositeTemplates</a
            >
        </div>
        <div class="footer-link col-md-3">
            <a
                href="https://developers.docusign.com/platform/webhooks/connect/"
                target="blank"
                class="link-title"
                translate
                >Links.Connect</a
            >
        </div>
        <div class="footer-link col-md-3">
            <a
                href="https://developers.docusign.com/docs/esign-rest-api/sdks/csharp/"
                target="blank"
                class="link-title"
                translate
                >Links.ESignature</a
            >
        </div>
        <div class="footer-link col-md-3">
          <a
              href="https://developers.docusign.com/partner/isv-faq/"
              target="blank"
              class="link-title"
              translate
              >Links.ISV</a
          >
      </div>
    </div>
</div>
