<header class="header" [class.header-home]="isHomePage$ | async" role="banner">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-light p-0 align-items-sm-end justify-content-sm-between">
            <a class="navbar-brand d-inline-flex align-items-center p-0" [routerLink]="['']" routerLinkActive="active" translate>
                <span class="navbar-brand-image d-inline-block">
                    <img [src]="style === 'black' ? 'assets/img/logo-text-white.png' : 'assets/img/logo-text-black.png'" alt="" />
                </span>
            </a>
            <div class="align-self-sm-center navbar-buttons">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/docusign/sample-app-business-csharp" target="blank" translate>
                            GitHubSource
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn authorize-btn logout-btn" (click)="logout()" *ngIf="connectionStatus.isConnected$ | async" translate
                            >Logout</a
                        >
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
