<div class="use-case-container" [class.loading]="executingAction">
    <app-header [style]="'white'"></app-header>
    <div class="content">
        <section class="use-case-section">
            <div class="container-fluid">
                <div class="use-case-wrapper">
                    <div class="use-case-info d-flex">
                        <h1 class="use-case-title" translate>UseCase2.TermsAndConditionsTitle</h1>
                        <div><img src="assets/img/ic-custom-two.png" alt="" /></div>
                    </div>

                    <div class="d-flex flex-wrap use-case-description">
                        <div class="col-md-5 step-container">
                            <p class="step-title" translate>UseCase2.TermsAndConditionsDescription</p>
                            <button
                                class="btn btn-save details-btn collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#details"
                                aria-expanded="false"
                                aria-controls="details"
                                translate
                            >
                                UseCases.DetailsButton
                                <img src="assets/img/chevron-down.png" alt="" />
                            </button>
                            <div class="collapse" id="details">
                                <div class="card card-body" [innerHTML]="'UseCase2.CodeFlow' | translate"></div>
                            </div>
                        </div>
                        <div class="col-md-5 step-container">
                            <ul class="options-list">
                                <li translate>UseCase2.TermsAndConditionsOption1</li>
                                <li translate>UseCase2.TermsAndConditionsOption2</li>
                                <li translate>UseCase2.TermsAndConditionsOption3</li>
                                <li translate>UseCase2.TermsAndConditionsOption4</li>
                            </ul>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap use-case-form">
                        <form [formGroup]="termsAndConditionsForm" [class.was-validated]="termsAndConditionsForm.invalid">
                            <div class="d-flex flex-wrap">
                                <div class="step-container">
                                    <p class="step-title" translate>UseCases.SendToTitle</p>
                                    <div class="d-flex">
                                        <div class="input-wrapper first-name">
                                            <label class="margin-top" translate>UseCases.FirstNamePlaceholder</label>
                                            <input
                                                type="text"
                                                class="form-control form-control-input text-black"
                                                id="firstName"
                                                placeholder="{{'UseCases.FirstNamePlaceholder' | translate }}"
                                                formControlName="firstName"
                                                [class.invalid]="isInvalid(termsAndConditionsForm.get('firstName'))"
                                            />
                                            <div
                                                *ngIf="isInvalid(termsAndConditionsForm.get('firstName'))"
                                                class="invalid-feedback"
                                                translate
                                            >
                                                ErrorText
                                            </div>
                                        </div>

                                        <div class="input-wrapper">
                                            <label class="margin-top" translate>UseCases.LastNamePlaceholder</label>
                                            <input
                                                type="text"
                                                class="form-control form-control-input text-black"
                                                id="lastName"
                                                placeholder="{{'UseCases.LastNamePlaceholder' | translate }}"
                                                formControlName="lastName"
                                                [class.invalid]="isInvalid(termsAndConditionsForm.get('lastName'))"
                                            />
                                            <div
                                                *ngIf="isInvalid(termsAndConditionsForm.get('lastName'))"
                                                class="invalid-feedback"
                                                translate
                                            >
                                                ErrorText
                                            </div>
                                        </div>
                                    </div>
                                    <label class="margin-top" translate>UseCases.EmailPlaceholder</label>
                                    <input
                                        type="email"
                                        class="form-control form-control-input text-black"
                                        id="email"
                                        placeholder="{{'UseCases.EmailPlaceholder' | translate }}"
                                        formControlName="email"
                                        [class.invalid]="isInvalid(termsAndConditionsForm.get('email'))"
                                    />
                                    <ng-container *ngIf="isInvalid(termsAndConditionsForm.get('email'))">
                                        <div class="invalid-feedback">
                                            {{ (termsAndConditionsForm.get('email').value ? 'ErrorInvalidText' : 'ErrorText') | translate }}
                                        </div>
                                    </ng-container>
                                    <label class="margin-top" translate>UseCase2.CcFullNameTitle</label>
                                    <input
                                        type="text"
                                        class="form-control form-control-input"
                                        id="fullNameCc"
                                        placeholder="{{'UseCases.CcFullNamePlaceholder' | translate }}"
                                        formControlName="fullNameCc"
                                    />
                                    <label class="margin-top" translate>UseCase2.CcEmailTitle</label>
                                    <input
                                        type="email"
                                        class="form-control form-control-input"
                                        id="emailCc"
                                        placeholder="{{'UseCases.EmailPlaceholder' | translate }}"
                                        formControlName="emailCc"
                                        email
                                    />
                                    <p class="step-title margin-top" translate>UseCase2.TermsAndConditionsAccessCodeDescription</p>
                                    <div class="access-code-wrapper">
                                        <div class="d-inline-block">
                                            <label class="margin-top" translate>UseCases.AccessCodeTitle</label>
                                            <input
                                                type="text"
                                                class="form-control form-control-input access-code"
                                                id="accessCode"
                                                #accessCode
                                                placeholder="{{'UseCases.AccessCodePlaceholder' | translate }}"
                                                formControlName="accessCode"
                                                readonly
                                            />
                                        </div>
                                        <div class="copy-btn-wrapper">
                                            <button class="btn copy-btn" (click)="copyToClipboard(accessCode)" translate>
                                                UseCases.CopytoClipboardButton
                                                <img class="arrow-right" src="assets/img/copy-outline.png" alt="" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="d-flex flex-wrap buttons-container">
                        <button class="btn btn-cancel" (click)="navigateHome()" translate>CancelButton</button>
                        <button class="btn send-btn" [class.disabled]="!termsAndConditionsForm.valid" (click)="sendNow()" translate>
                            UseCases.SendNowButton
                            <img class="arrow-right" src="assets/img/send-icon.png" alt="" />
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer-container white">
        <app-footer></app-footer>
    </div>
</div>